/*
1.Posicionamiento
2. Modelo Caja (Box Model)
3. Tipografia
4. Visuales
5. otros
*/

:root {
    --font-pri: 'DM Sans', sans-serif;
    --font-sec: 'Inter', sans-serif;
    --justwhite: #FFFFFF;
    --offwhite: #FAF8F7;
    --borange: #F7931A;
    --orange2: #ffe9d5;
    --sec-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warm-black-1: #282623; 
    --mgray: #757575;
    --lgray: #BABABA;
    --dgray: #808080;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: var(--font-pri);
    scroll-behavior: smooth;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    align-items: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header .header--figure {
    margin-top: 60px;
    display: flex;
    align-self: center;

}

header .header--figure figcaption {
    color: var(--borange);
    font-size: 2.4rem;
    margin-left: 12px;
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--justwhite)
}

.header--title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--orange2);
}

.header--title-container .header--button {
    position: absolute;
    left: calc(50% - 114.5px);
    /* top: 270px; */
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--offwhite);
    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--warm-black);
}

.header--button span {
    display: inline-block;
    width: 13px;
    height: 11px;
    margin-left: 10px;
    background-image: url('../icon/down-arrow.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main {
    width: 100%;
    height: auto;
    background-color: var(--offwhite);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('../img/Bitcoin.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container--title h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
}

.main-exchange-container--title {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: var(--mgray);
}

/* .main-tables-container {
    width: 220px;
    height: auto;
    margin: 0 auto;
}

.main-tables-container--title .main-title {
    text-align: left;
    margin-bottom: 12px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.3rem;
    color: var(--borange);
}

.main-tables-container--title .table {
    display: grid;
    grid-template-columns: 1fr 1fr 0px;
    gap: 2px;
    margin-bottom: 16px;
}

.main-tables-container--title .table ul {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2px;
    align-items: center;
}

.main-tables-container--title .table ul li {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-family: var(--font-sec);
    font-size: 1.6rem;
    line-height: 20px;
    color: #808080;
    background: var(--justwhite);
}

.main-tables-container--title img {
    height: 14px;
    width: auto;
    display: flex;
    align-self: center;
    position: absolute;
    right: calc(50% - 134px);  
}

.main-tables-container--title .message {
    height: 31px;
    width: 173px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.2rem;
    color: var(--warm-black-1);
    background-color: var(--orange2);
    border-radius: 8px;
}

.main-tables-container--title .message span{
    font-weight: 700;
    margin-right: 3px;
} */

.main-currency-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: var(--font-sec);
}

.main-currency-table .currency-table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.3rem;
    color: var(--borange);
}

.currency-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency-table--container table {
    width: 100%;
    height: 100%;
}

.currency-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--mgray);
    background-color: var(--justwhite);
}

.currency-table--container .table__top-left {
    border-radius: 15px 0 0 0;
}

.currency-table--container .table__top-right {
    border-radius: 0 15px 0 0;
}

.currency-table--container .table__bottom-left {
    border-radius: 0 0 0 15px;
}

.currency-table--container .table__bottom-right {
    border-radius: 0 0 15px 0;
}

.currency-table--container .table__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: var(--mgray);
}

.currency-table--container .down,
.currency-table--container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('../icon/trending-down-1.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table--container .up {
    background-image: url('../icon/trending-up-1.svg');
}

.currency-table-date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--orange2);
    border-radius: 8px;
}

.currency-table-date p {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--warm-black);
}

.currency-table-date p b {
    margin-right: 3px;
}

.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 0px;
    background-color: var(--warm-black);
}

.main-product-detail .product-detail--batata-logo {
    /* Necesita un contenedor en relative como referencia */
    position: absolute;
    width: 40px;
    height: 25px;
    top: -12.5px;
    left: calc(50% - 20px);
    background-image: url('../icon/Group-1.svg');
    background-repeat: none;
    background-position: center;
    background-size: cover;
}

.product-detail--title {
    width: 90%;
    min-width: 280px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product-cards--container {
    width: 90%;
    /* min-width: 280px;
    max-width: 400px; */
    margin: 0 auto;
}

.product-detail--title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--justwhite);
}

.product-detail--title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--lgray);
}

.product-detail--card {
    width: 100%;
    min-width: 280px;
    max-width: 400px;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--warm-black-1);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail--card .icon-card {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-detail--card .clock {
    background-image: url('../icon/clock-1.svg');
}

.product-detail--card .eye {
    background-image: url('../icon/eye-1.svg');
}

.product-detail--card .dollar {
    background-image: url('../icon/dollar-sign-1.svg');
}

.product-detail--card .check {
    background-image: url('../icon/check-circle-1.svg');
}

.product-detail--card .product--card-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--justwhite);
}

.product-detail--card .product--card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--lgray);
}

.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('../img/bitcoinbaby-3.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bitcoin-img-container {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--justwhite);
    text-align: center;

}

.main-plans-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}

.plans--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    /* margin-top: 50px; */
}

.plans--title h2 {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
}

.plans--title > p {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: bo500ld;
    line-height: 1.8rem;
    color: var(--mgray);
}

.plans-container--slider {
    display: flex;
    /* gap: 50px; */
    height: 320px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plans-container--card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px 10px 0;
    padding: 0 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.recommended {
    position: absolute;
    display: flex;
    width: 120px;
    height: 31px;
    left: calc(50% - 60px);
    top: -15.5px;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    background: var(--borange);
    border-radius: 8px;
    color: var(--justwhite);
    }

.plan-card--title {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--warm-black);
}

.plan-card--price {
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: var(--warm-black);
}

.plan-card--price span {
    font-size: 1.2rem;
    font-weight: 300;
}

.plan-card--saving {
    font-size: 1.2rem;
    color: var(--mgray);
}

.plan-card--cta {
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: var(--offwhite);
    border: 2px solid var(--borange);
    border-radius: 4px;
    font-family: var(--font-pri);
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--warm-black);
}

.plan-card--cta span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../icon/arrow-right-orange.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: text-bottom;
}

footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--borange);
}

footer section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;

}

footer .left ul {
    font-size: 1.4rem;
    font-weight: 500px;
    line-height: 1.8rem;
    list-style: none;
    list-style: none;
}

.left li {
    margin: 10px 0;

}

.left a {
    text-decoration: none;
    color: var(--justwhite);
}